ivo-wolf-logo div {
    color: white;
    white-space: pre;
    display: inline-block;
    font-family: 'Source Code Pro', monospace;
    letter-spacing: -0.20em;
    line-height: 0.7em;
    text-shadow: 0 0 2px #000000;
    font-size: 0.38em;
    background-color: inherit;
}

.ivo-wolf-logo-dark {
    color: black;
    text-shadow: 0 0 1px #000000;
    background-color: white;
}
//http://www.chris.com/ascii/index.php?art=animals/wolves