html,
body {
    height: 100%;
    min-height: 100%;
    background-color: #C5CAE9;
}

.browsehappy {
    margin: 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.thumbnail {
    height: 200px;

    img.pull-right {
        width: 50px;
    }
}

[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}

.white-icon {
    fill: white;
}

// injector
// endinjector
