.ivo-inline-flex {
    display: inline-flex;
}


.very-heigh {
    min-height: 200%;
}

md-content p {
  font-size: 1.2em;
}

//pre code {
//    background-color: #000;
//}

md-content h1 {
    background-color: #B6C8D2;
    color: #000;
    font-size: 2em;
}

md-content h2 {
    background-color: #EAF0F3;
    color: #000;
    font-size: 1.7em;
}

md-content h3 {
    background-color: #F9F9F9;
    color: #000;
    font-size: 1.5em;
}
