.ivo-inline-flex {
    display: inline-flex;
}

.very-heigh {
    min-height: 200%;
}

md-content {
    font-size: 1.3em;
}

md-content h1 {
    background-color: #26A69A;
    color: #000;
    font-size: 2em;
    padding: 5px;
}

md-content h2 {
    background-color: #4DB6AC;
    color: #000;
    font-size: 1.7em;
    padding: 3px;
}

md-content h3 {
    background-color: #80CBC4;
    color: #000;
    font-size: 1.5em;
    padding: 2px;
}

.docs-menu,
.docs-menu ul {
  list-style: none;
  padding: 0;
}
.docs-menu li {
  margin: 0;
}
.docs-menu > li:nth-child(1) {
  border-top: none;
}

@media screen and (max-width: 435px) {
    md-content {
        font-size: 1em;
    }
    md-content h1 {
        font-size: 1.5em;
    }

    md-content h2 {
        font-size: 1.3em;
    }

    md-content h3 {
        font-size: 1.2em;
    }
}
